.cell {
	cursor: pointer;
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	background: #eaeaea;
	margin: 3px;
	border-radius: 3px;
	transition: background-color 0.25s;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.cell:hover {
	background: #e2e2e2;
}

.cellIcon::before {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	text-shadow: -1px -1px 10px rgba(150, 150, 150, 0.7);
}

.cellCross::before {
	content: '×';
	position: absolute;
	color: var(--color-blue);
}

.cellCircle::before {
	content: '○';
	color: var(--color-red);
	position: absolute;
}

.cellOutlined {
	box-shadow: 0 0 0 1px #039be5;
}
